<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <!-- Google result text-->
        <title>Ceziam - The cloud based toolkit that helps you secure the applications you build.</title>
        <%= favicon_link_tag 'favicon.ico' %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- 
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME88LD4GDV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-ME88LD4GDV');
        </script>
        -->
        <!-- Google result description-->
        <meta name="description" content="All in one cloud based tool for securing what you build and what you host.">
        <!-- og Is Open Graph tagging used by FB and Twitter has a similar one.-->
        <!--  Essential META Tags -->
        <meta property="og:title" content="Ceziam">
        <meta property="og:image" content="https://res.cloudinary.com/dspkvxtxa/image/upload/v1650296330/ph92ivkymbgr9dtubgg0.jpg">
        <meta property="og:description" content="The cloud based toolkit that helps you secure your applications from vulnerabilities.">
        <meta property="og:url" content="https://ceziam.com">
        <meta name="twitter:card" content="photo">
        <!--  Non-Essential, But Recommended -->
        <meta property="og:site_name" content="Ceziam">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    </head>
    <body>
        <div class="background-white">
        <%= render 'shared/nav-bar-test' %>
            <div class="container">
                <h1 class="text-center text-section-title mx-auto">The Cloud Based Toolset for</h1>
                <h1 class="text-center text-section-title mx-auto">Securing What You Build.</h1>
                <%= render 'shared/stars' %>
                <h4 class="mt-1 text-center mx-auto text-section-with_without" ><b> Without Ceziam </b>Security issues slipped through, things felt a bit crazy and we didn't know where the problems where. <b> With Ceziam </b>We get one report, we know what to prioritise and it feels calm.</h4>
                <%= render 'shared/button_try_ceziam' %>
                <%= render 'shared/landingcards' %>
            </div>
        </div>
    </body>
</html>

